<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cyber Cipher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
    <!-- Use SEMANTIC UI TO HANDLE STYLING UI -->
    <h1>Welcome to Cyber Cipher!</h1>
    <br />
    <table>
        <tr>
            <div>
                <h2>Enter in a phrase and Cyber Cipher will encrypt it via the cryptographic Caesar Cipher</h2>
            </div>
        </tr>
        <tr>
            <div>
                <div>
                {% macro input(name, value='', type='text', size=16) -%}
                    <input type="{{ type }}" name="{{ name }}" value="{{
                        value|e }}" size="{{ size }}">
                {%- endmacro %}
                <form action="/encrypt" method="post">
                    <p>
                        {{ input('encryption', value='', type='text') }}
                    </p>
                    </div>
                    <button type="submit">
                        Run the Encryption
                    </button>
                    {% if encryption %}
                        <p>{{ encryption }}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </form>
                </div>
            </div>
        </tr>
        <tr>
            <div>
            </div>
        </tr>
    </table>
</body>
</html>