<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cyber Cipher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body style="margin:auto; width:60%;margin-top:20px;">
    <header class="ui container">
        <h1 class="ui" style="text-align:center;">Welcome to Cyber Cipher!</h1>
    </header>
    <br />
    <div>
        <table>
            <tr>
                <div class="ui text container raised center segment">
                    <h2>Enter in a phrase and Cyber Cipher will encrypt it via the cryptographic Caesar Cipher</h2>
                </div>
            </tr>
            <tr>
                <img src="static/cryptography.jpg" style="width:100%; text-align:center;">
            </tr>
            <tr>
                <div>
                    <div style="margin-top:20px;">
                    {% macro input(name, value='', type='text', size=16) -%}
                        <input type="{{ type }}" name="{{ name }}" value="{{
                            value|e }}" size="{{ size }}">
                    {%- endmacro %}
                    <form action="/encrypt" method="post">
                        <div class="ui action input" style="width:100%;">
                            {{ input('encryption', value='', type='text') }}
                            <button type="submit" class="ui button">
                                Run the Encryption
                            </button>
                        </div>
                        {% if encryption %}
                        <div class="ui text container raised segment">
                            <div class="ui clearing header">{{ encryption }}</div>
                        </div>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </form>
                    </div>
                </div>
            </tr>
            <tr>
                <div style="text-align:center; margin:30px;">
                    <span>developed by Nnenna Ndukwe</span>
                    <br>find me on
                    <a href="https://twitter.com/nnennahacks/" target="_blank">@Twitter</a>,
                    <a href="https://github.com/nnennandukwe/" target="_blank">@Github</a>,
                    <a href="https://medium.com/@nnennahacks/" target="_blank">@Medium</a>, and
                    <a href="https://linkedin.com/in/nnenna-ndukwe/" target="_blank">@LinkedIn</a>
                </div>
            </tr>
        </table>
    </div>
</body>
</html>